<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: common-head(~{::title})}">
    <title th:text="${title}">Account</title></head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container container30 center border border-3 border-success p-20 text-center">
    <h2 class="text-center mb-3">Bonjour <span th:text="${user.getUserName()}"></span></h2>
    <div>Le montant de votre compte est de <span th:text="${user.getAccountBalance()}"></span></div>
    <a th:href="@{/addFriend}"><i class="fa-solid fa-plus mr-2"></i>Ajouter un ami</a>
</div>

</body>
</html>