<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: common-head(~{::title})}">
    <title th:text="${title}">Extern transaction</title></head>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container container30 border border-3 border-success">
    <!--<h2 class="text-center color-success">Inscrivez-vous</h2>
    &lt;!&ndash;/*@thymesVar id="postExternTransaction" type="PostExternTransaction"*/&ndash;&gt;
    <form action="#" method="POST" th:action="@{/externTransactions}" th:object="${postExternTransaction}">
        <div class="mb-4">
            <label class="form-label" for="amount">Votre pseudo</label>
            <input class="form-control" id="amount" name="amount" placeholder="Montant" required
                   th:field="*{amount}"
                   type="text"/>
        </div>
        <div class="mb-4">
            <label class="form-label" for="email">Votre email</label>
            <input class="form-control" id="email" name="email" placeholder="E-mail" required th:field="*{email}"
                   type="email"/>
        </div>
        <div class="mb-4">
            <label class="form-label" for="password">Votre mot de passe</label>
            <input class="form-control" id="password" name="password" placeholder="Password" required
                   th:field="*{password}"
                   type="password"/>
        </div>
        <input class="btn btn-primary mb-4 center" type="submit" value="S'inscrire"/>
        <div class="color-primary" th:if="${param.error}">
            Une erreur est survenue, veuillez réessayer
        </div>
    </form>
    <a class="mb-4 center text-center" th:href="@{/login}"> Vous identifier </a>-->
</div>
</body>
</html>