<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: common-head(~{::title})}">
    Créer un compte Pay My Buddy
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container container30">
    <h2 class="center color-success">Inscrivez-vous</h2>
    <form action="#" th:action="@{/users}" th:object="${postUser}" method="POST">
        <div>
            <label for="userName" class="form-label">Votre pseudo</label>
            <input type="text" id="userName" name="userName" placeholder="Pseudo" th:field="*{userName}"/>
        </div>
        <div>
            <label for="email" class="form-label">Votre email</label>
            <input type="email" id="email" name="email" placeholder="E-mail" th:field="*{email}"/>
        </div>
        <div>
            <label for="password" class="form-label">Votre mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Password" th:field="*{password}"/>
        </div>
        <input type="submit" value="S'inscrire" />
    </form>
</div>
</body>
</html>