<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: common-head(~{::title})}">
    <title th:text="${title}">Sign up</title></head>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div class="container container30 border border-3 border-success">
    <h2 class="text-center color-success">Inscrivez-vous</h2>
    <form action="#" th:action="@{/users}" th:object="${postUser}" method="POST">
        <div class="mb-4">
            <label for="userName" class="form-label">Votre pseudo</label>
            <input class="form-control" id="userName" name="userName" placeholder="Pseudo" required
                   th:field="*{userName}"
                   type="text"/>
        </div>
        <div class="mb-4">
            <label for="email" class="form-label">Votre email</label>
            <input class="form-control" id="email" name="email" placeholder="E-mail" required th:field="*{email}"
                   type="email"/>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Votre mot de passe</label>
            <input class="form-control" id="password" name="password" placeholder="Password" required
                   th:field="*{password}"
                   type="password"/>
        </div>
        <input class="btn btn-primary mb-4 center" type="submit" value="S'inscrire"/>
        <div class="color-primary" th:if="${param.error}">
            Une erreur est survenue, veuillez réessayer
        </div>
    </form>
    <a class="mb-4 center text-center" th:href="@{/login}"> Vous identifier </a>
</div>
</body>
</html>